<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.DamageListMapper">


    <insert id="addDamageList" useGeneratedKeys="true" keyProperty="damageListId" parameterType="com.atguigu.jxc.entity.DamageList">
        insert into t_damage_list(`damage_number`,`damage_date`,`remarks`,`user_id`)
        values (#{damageNumber},#{damageDate},#{remarks},#{userId})
    </insert>

    <!--查询所有报损单-->
    <select id="findDamageList" resultType="com.atguigu.jxc.entity.DamageList">
        SELECT  dl.`damage_list_id`,
            dl.`damage_number`,
            dl.`damage_date`,
            dl.`remarks`,
            dl.`user_id`,
            u.`true_name`
        FROM `t_damage_list` dl
        INNER JOIN `t_user` u ON u.`user_id` = dl.`user_id`
        WHERE `damage_date` BETWEEN #{sTime} AND #{eTime}
    </select>
</mapper>