<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.PurchaseListGoodsMapper">


    <insert id="saveButchPurchaseListGoods">
        insert into `t_purchase_list_goods`
        (`goods_id`,`goods_code`,`goods_name`,`goods_model`,`goods_unit`,`goods_num`,`price`,`total`,`purchase_list_id`,`goods_type_id`)
        values
        <foreach collection="purchaseListGoodsArr" item="item" separator=",">
            (#{item.goodsId},#{item.goodsCode},#{item.goodsName},#{item.goodsModel},#{item.goodsUnit},#{item.goodsNum},#{item.price},#{item.total},#{item.purchaseListId},#{item.goodsTypeId})
        </foreach>
    </insert>

    <!--// 查询进货单商品信息-->
    <select id="findList" resultType="com.atguigu.jxc.entity.PurchaseListGoods">
        select purchase_list_goods_id,
                goods_id,
                goods_code,
                goods_name,
                goods_model,
                goods_unit,
                goods_num,
                price,
                total,
                purchase_list_id,
                goods_type_id
        from t_purchase_list_goods
        where purchase_list_id =#{purchaseListId}
    </select>
</mapper>
